.map {
    width: 100%;
}

#filters_button {
    position: absolute;
    top: 115px;
    left: 10px;
    z-index: 400;
  }

  #districts_button {
    position: absolute;
    top: 155px;
    left: 10px;
    z-index: 400;
  }
  #wallet_button {
    position: absolute;
    top: 50px;
    left: 45px;
    z-index: 400;
  }